@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
/* Indica que o tamanho do elemento vai cobrir a tela inteira 100% a area aberta.*/
    height: 100vh;
    width: 100vw;
/*Fim*/

/*Configuração para adicionar a imagem de fundo e formatação da imagem*/
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
/*Fim*/
}

section#telefone{
    position: absolute; /*Para conseguir colocar o outro elemento configurado apartir deste elemente*/
    top: 50%; /*Posicionamento do elemento */
    left: 50%;
    transform: translate(-55%, -50%); /*Fim do posicionamento*/
    width: 311px; /*Tamanho do elemento*/
    height: 627px; /*Tamanho do elemento*/
    background: url(../imagens/frame-iphone.png) no-repeat;
}

#tela{
    position: relative; /*Para conseguir configurar este elemente em função das configurações do elemento relative*/
    top: 83px;
    left: 25px;
    width: 262px;
    height: 466px;
    border: 0px;
}
#redes-sociais{
    text-align: right;
}
#redes-sociais img{
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    text-align: right;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.582);
    box-sizing: border-box; /*Colocar a borda do Hover dentro da imagem, sem movimentar as outras imagens.*/
}
#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.623); /* Inclui uma bordar para dar destaque ao botão selecionado*/
    transform: translate(-3px, -3px); /* Aplica efeito de mover o botão ao passar o mouse sobre ele.*/
}

