/*Declarações de importação*/
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

/*Declaração das Variáveis*/

:root{
/*Variaveis de Cores*/
--cor0:#d6d6d6;
--cor1:#c3defd;
--cor2:#267DE0;
--cor3:#1D61AE;
--cor4:#565D66;
--cor5:#103661;

/*Variaveis de Fontes*/
--fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
--fonte-destaque: 'Josefin Sans', sans-serif;
}

/*Estilos Globais*/
*{
    margin: 0px;
    padding: 0px;
    text-align: justify;
}
body{
    font-family: var(--fonte-padrao);
    width: 940px;
    margin: auto;
    border: 1px solid #f1f1f1;
    padding: 5px;
    background: #fff;
    box-shadow: 0px 0px 6px #eaeaea;
    background-color: var(--cor0);
}


/*Estilos Header*/
header {
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    padding: 10px 10px 0px 10px;
    background: var(--cor1);
    box-shadow: 0px 0px 6px #eaeaea;
    background-image: linear-gradient(180deg, var(--cor1) 0%, var(--cor5) 100%);

}
header > h1{
    font-family: var(--fonte-destaque);
    font-size: 3em;
    text-align: center;
    color:var(--cor5);
    padding: 10px;
    text-shadow: 2px 0px 20px #eaeaea;    
}
header > p{
    font-size: 1.2em;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color:rgba(255, 255, 255, 0.692);
    width: 500px;
    margin: auto;
    margin-bottom: 10px;
}
header > nav{
    background-color: transparent;
    width: 100%;
}
header > nav > a{
    display: inline-block;
    color: var(--cor1);
    font-weight: bold;
    text-decoration: none;
    height: 18px;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 3px -1px 6px -2px #eaeaea;
}
header > nav > a:hover{
    display: inline-block;
    color: var(--cor5);
    background-color: var(--cor1);
    text-decoration: underline;
    font-weight: bold;
    height: 18px;
    padding: 8px;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 3px -1px 6px -2px #eaeaea;
}
/*FIM Estilos Header*/

/*Estilos Main*/
.exercicios-conteudo > p,
.desafio-conteudo > p,
.download-conteudo > p
    {
    margin: 0px 10px;
    text-align: center;
}
aside > .container{
    margin: auto;
    text-align: center;
    margin: 10px;
}
aside > .container > img {
    display: inline;
}
.header_conteudo{
    font-family: var(--fonte-destaque);
    font-size: 2em;
    text-align: center;
    padding: 20px;
    color:var(--cor5);
    text-shadow: 2px 0px 20px #eaeaea;    
}
article, aside{
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    background: var(--cor1);
    box-shadow: 0px 0px 6px #eaeaea;
    background-color: var(--cor1);
    padding: 5px;
}
.exercicios,
.desafio,
.download{
    line-height: 1.8em;
}
.exercicios > div > p,
.desafio > div > p,
.download > div > p{
    font-size: 0.9em;
    font-weight: bold;
    display: inline-block;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px 3px #eaeaea;
}
.exercicios > div,
.desafio > div,
.download > div{
    margin: auto;
    text-align: right;
}
.desafio > ul > h2,
.download > ul > h2{
    font-family: var(--fonte-destaque);
    font-size: 1.2em;
    padding-left: 10px;
    text-align: center;
    margin: 20px;
}
ul > a > li{
    list-style-type: none;
    padding-left: 8px;
    list-style-position: inside;
    list-style-image: url(assets/Compartilhamento.png);
}

.recuo1{
    text-indent: 40px;
}
.recuo2{
    text-indent: 80px;
}
ul > a,
ul > p > strong > a{
    text-decoration: none;
    color: var(--cor5);
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
    color: var(--cor5);
    font-weight: bold;
}


ul > p{
    text-indent: 30px;
}
ul > p > strong{
    font-weight: bold;
    font-style: italic;
    color: var(--cor3);
}
aside > div > a > img {
    width: 150px;
    margin: 10px;
}
.topo{
    margin: auto;
    text-align: right;
}
.topo > a > img,
.container > a > .topo{
    width: 36px;
}
.flaticon{
    width: 170px;
    height: 40px;
}
footer {
    background-color: var(--cor5);
    color: var(--cor1);
    padding: 20px;
    text-align: center;
    font-family: var(--fonte-padrao);
    font-weight: bold;
    box-shadow: 0px 0px 6px #eaeaea;
    border-radius: 10px;
    margin-bottom: 10px;
}
footer > p{
    padding-top: 20px;
    text-align: center;
    font-family: var(--fonte-padrao);
    font-weight: bold;
}
footer > a{
    text-decoration: none;
    color: var(--cor1);
    font-weight: bold;
    margin-left: 20px;
    padding: 8px;

}
footer > a:hover{
    text-decoration: underline;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    text-decoration: underline;
    font-weight: bold;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 3px -1px 6px -2px #eaeaea;
}
