@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Passion+One:wght@700&family=Sriracha&display=swap');

/*Estilos Globais*/
*{
    margin: 0px;
    padding: 0px;
    text-align: justify;
}
html, body{
    min-height: 100vh;
    border: 1px solid #f1f1f1;
    padding: 5px;
    background-color: darkgray;
    box-shadow: 0px 0px 6px #eaeaea;
}

/*Estilos Header*/
#topo {
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    padding: 10px 10px 0px 10px;
    background-color: rgba(21, 107, 187, 0.432);
    box-shadow: 0px 0px 6px #eaeaea;
    background-image: linear-gradient(180deg, #c3defd 0%, #103661 100%);
}
#topo > h1{
    font-family: "Sriracha", cursive;
    font-size: 3em;
    text-align: center;
    color:#103661;
    padding: 10px;
    text-shadow: 2px 0px 20px #eaeaea;    
}
#topo > p{
    font-size: 1.2em;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color:black;
    min-width: 300px;
    max-width: 940px;
    margin: auto;
    margin-bottom: 10px;
}
#topo > nav{
    background-color: transparent;
}
#topo > nav > a{
    display: inline-block;
    color: #c3defd;
    font-weight: bold;
    text-decoration: none;
    height: 18px;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 3px -1px 6px -2px #eaeaea;
}
#topo > nav > a:hover{
    display: inline-block;
    color: #103661;
    background-color: #c3defd;
    text-decoration: underline;
    font-weight: bold;
    height: 18px;
    padding: 8px;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 3px -1px 6px -2px #eaeaea;
}
/*FIM Estilos Header*/

/*Main Aside*/
.desafio-title{
    border-radius: 10px 0px;
    padding-bottom: 0px;
}
.desafio-conteudo{
    border-radius: 10px;
    margin: 10px;
}
.desafio-conteudo>h1{
    text-align: center;
    font-family: "Passion One", cursive;
    font-size: 5vw;
}
.desafio-conteudo>div{
    text-align: center;
}
/*FIM Estilos Main Aside*/

/*Main Sections*/
#cordel_header{
    background-color: black;
    color: white;
}
#cordel_titulo{
    font-family: "Passion One", cursive;
    font-variant: small-caps;
    font-size: 10vw;
    padding-top: 50px;
    margin: auto;
    text-align: center;
}
#cordel_header > p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    margin: auto;
    text-align: center;
    padding-top: 2%;
}
#cordel_header > p >a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: auto;
    text-align: center;
    color: white;
    padding-top: 2%;
    text-decoration: none;
}
#cordel_header > p >a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-family: "Sriracha", cursive;
    font-size: 3.5vw;
}
.normal{
    color: black;
    padding-left: 30px;
}
.normal>p{
    padding-bottom: 2em;
}
section#paralax-img{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}
section#paralax-img2{
    background-image: url(imagens/background002.jpg);
    background-position: right center;
}
.paralax{
    background-color: rgba(0, 0, 0, 0.411);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover; 
    background-attachment: fixed;
    padding-left: 30px;
}
.paralax>p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px balck;
}
#normal-last>.p{
    padding-bottom: 0px;
}
.exercicios-conteudo>.container{
    text-align: center;
}
.exercicios-conteudo>.container>a>img{
    width: 200px;
}
footer {
    text-align: center;
    margin: auto;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 6px #eaeaea;
    border-radius: 0px 0px 10px 10px;
    font-weight: bold;
    box-shadow: 0px 0px 6px #eaeaea;
    border-radius: 10px;
    margin-bottom: 10px;
}
footer > p{
    font-size: 1em;
    padding-top: 20px;
    text-align: center;
    font-family: var(--fonte-padrao);
    font-weight: bold;
    margin: 0px;
}
footer > a, p>a{
    text-decoration: none;
    color: var(--cor1);
    font-weight: bold;
    margin-left: 20px;
    padding: 8px;
}
footer > a:hover, p>a:hover{
    text-decoration: underline;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    text-decoration: underline;
    font-weight: bold;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 3px -1px 6px -2px #eaeaea;
}
